@import "bootstrap/bootstrap.less";
@import "mixins.less";

@spacing: 10px;

@import "user-sidebar.less";
@import "register.less";

html {
  height: 100%;
}

body {
  #gradient > .vertical(#8FA4FF, #B0C6FF);
  padding-top: 60px;
}

a.disabled {
  color: @grayLight;
}

h2 {
  margin-bottom: @spacing;
}

#app-container {
  padding: @spacing * 2;
  background: @white;
  .box-shadow(0 0 40px rgba(255, 255, 255, 0.8));
}

#header-link {
  color: @textColor;

  &:before {
    vertical-align: middle;
    content: url(img/diamond-shovel.png);
    margin-right: @spacing / 2;
    display: inline-block;
  }
}