<div class="clearfix">
  <h2 class="pull-left">Plan a Game</h2>
  <a class="pull-right btn" href="/">Back</a>
</div>
<div class="alert" data-bind="visible: !$root.currentUser()">
  <p>You must be logged in to create a game.</p>
</div>
<div data-bind="if: $root.currentUser()">
  <div class="alert alert-error" data-bind="visible: errors, scrollTo: 'scrollToError'">
    There were errors when saving.
    <ul data-bind="foreach: errors">
      <li data-bind="text: $data"></li>
    </ul>
  </div>
  <form class="form-horizontal" data-bind="submit: submit">
    <div class="control-group">
      <label class="control-label">Game Type</label>
      <div class="controls">
        <input type="text" class="input-xlarge" data-bind="value: type, hasfocus: true" />
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Players</label>
      <div class="controls">
        <input type="number" class="input-xlarge" data-bind="integerValue: maxPlayers" />
        <span class="help-inline"></span>
      </div>
    </div>
    <fieldset>
      <legend><i class="mcicon-clock"></i> Time</legend>
      <div class="control-group">
        <label class="control-label">Date</label>
        <div class="controls">
          <input type="text" data-bind="datepicker: date, datepickerOptions: {dateFormat: 'DD, MM d, yy', minDate: 0, maxDate: 360, showOtherMonths: true, selectOtherMonths: true}" />
          <span class="help-inline" data-bind="text: dateHelpText"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Time</label>
        <div class="controls">
          <select class="input-large" data-bind="options: times, optionsText: 'text', optionsValue: 'value', value: time"></select>
          <span class="help-inline" data-bind="text: timeHelpText"></span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><i class="mcicon-compass"></i> Server Info <em>(optional)</em></legend>
      <div class="control-group">
        <label class="control-label">Server IP</label>
        <div class="controls">
          <input type="text" class="input-xlarge" placeholder="xxx.xxx.xxx.xxx" data-bind="value: serverIp" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" class="input-xlarge" data-bind="checked: usingHamachi" />
            Using Hamachi
            <!-- <a href="#" title="What is Hamachi?"><i class="icon-question-sign"></i></a> -->
          </label>
        </div>
      </div>
      <div data-bind="visible: usingHamachi">
        <div class="control-group">
          <label class="control-label">Hamachi Network ID</label>
          <div class="controls">
            <input type="text" class="input-xlarge" data-bind="value: hamachiNetwork"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Network Password</label>
          <div class="controls">
            <input type="text" class="input-xlarge" data-bind="value: hamachiPassword"/>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><i class="mcicon-sign"></i> Description <em>(optional)</em></legend>
      <div class="control-group">
        <div class="controls">
          <textarea class="input-xxlarge" rows="5" data-bind="value: description"></textarea>
        </div>
      </div>
      
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Create</button>
      <a href="/" class="btn">Back</a>
      <i class="loader-small" data-bind="visible: saving"></i>
    </div>
  </form>
  
</div>