<div class="clearfix">
  <h2 class="pull-left">Upcoming Games</h2>
  <a href="/create" class="btn btn-primary pull-right" data-bind="visible: $root.currentUser">Plan a Game</a>
</div>

<div class="games-empty" data-bind="visible: !games().length">
  <div class="alert alert-info">
    No games found
  </div>
</div>
<table class="table table-bordered table-striped" data-bind="visible: games().length">
  <thead>
    <tr>
      <th>Game Type</th>
      <th>Players</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: games">
    <tr>
      <td data-bind="text: type"></td>
      <td>0 / <span data-bind="text: maxPlayers"></span></td>
      <td data-bind="text: formattedTime"></td>
       <td>
        <a href="#" class="disabled" data-bind="if: !$root.currentUser()">Log in to join</a>
        <a href="#" data-bind="if: $root.currentUser">Sign up</a>
      </td>
    </tr>
  </tbody>
</table>