<div class="row">
  <div class="span8">
    <h2>Current Games</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Game Type</th>
          <th>Players</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hunger Games</td>
          <td>5 / 24</td>
          <td>8:00 PM</td>
          <td><a href="#" class="disabled">Log in to join</a></td>
        </tr>
        <tr>
          <td>The Walls</td>
          <td>16 / 16</td>
          <td>8:30 PM</td>
          <td><a href="#" class="disabled">Log in to join</a></td>
        </tr>
        <tr>
          <td>Skyblock</td>
          <td>3 / 4</td>
          <td>9:00 PM</td>
          <td><a href="#" class="disabled">Log in to join</a></td>
        </tr>
        <tr>
          <td>The Walls</td>
          <td>2 / 4</td>
          <td>August 15 11:00 AM</td>
          <td><a href="#" class="disabled">Log in to join</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <h2>Log In</h2>
    <form>
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="*******" />
      <div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register" class="btn">Register</a>
      </div>
    </form>
  </div>
</div>