<div class="alert alert-error" data-bind="visible: notFound">
  <p>This game has been deleted by the host</p>
  <a href="/">Back</a>
</div>
<div id="lobby" data-bind="if: loaded">
  <div class="clearfix" >
    <h2 class="pull-left">Game Lobby - <span data-bind="text: type"></span></h2>
    <a href="/" class="btn pull-right">Back</a>
    <button class="btn btn-primary pull-right" data-bind="visible: $root.currentUser() && !isPlaying(), click: join">Join this game</button>
    <button class="btn pull-right" data-bind="visible: isPlaying() && !isHost(), click: leave">Leave this game</button>
    <a href="#" class="btn pull-right" data-bind="visible: isHost, attr: {href: '/edit/' + id}">Edit this game</a>
    <i class="loader-small pull-right" data-bind="visible: saveLoading"></i>
  </div>
  <ul class="lobby-info">
    <li>
      <i class="mcicon-clock"></i> <span data-bind="text: countdown"></span>
    </li>
    <li>
      <i class="mcicon-sun"></i> <span data-bind="text: fullTime"></span>
    </li>
    <li data-bind="visible: isPlaying">
      <i class="mcicon-diamond"></i> You are <span data-bind="text: isHost() ? 'hosting' : 'playing'"></span>
    </li>
  </ul>
  <div class="description" data-bind="html: htmlDescription, visible: description"></div>
  <div class="server-info alert alert-info" data-bind="visible: isPlaying() && hasServerInfo()">
    <h4>Server Info</h4>
    <div data-bind="visible: usingHamachi">
      <div>
        <label>Hamachi Network:</label><span data-bind="text: hamachiNetwork"></span>
      </div>
      <div>
        <label>Hamachi Password:</label><span data-bind="text: hamachiPassword"></span>
      </div>
    </div>
    <div>
      <label>IP: </label><span data-bind="text: serverIp"></span>
    </div>      
  </div>
  <div class="lobby-chat">
    <div class="messages-container">
      <ul class="messages" data-bind="scrollToEnd: 'chatScroll'">
        <li class="placeholder"></li>
        <!-- ko foreach: messages -->
        <li><strong data-bind="text: username"></strong> <span data-bind="text: message"></span></li>
        <!-- /ko -->
        <li class="subtle" data-bind="visible: !isPlaying()">Join this game to see chat</li>
      </ul>
      <form class="message-input" data-bind="visible: isPlaying, submit: submitMessage">
        <input type="text" data-bind="value: messageText" />
        <button class="btn btn-primary">Send</button>
      </form>
    </div>
    <div class="players-container">
      <div class="players-stats"><span data-bind="text: playerCount"></span> / <span data-bind="text: maxPlayers"></span></div>
      <ul class="players">
        <li class="host"><span data-bind="text: hostName"></span> (host)</li>
        <!-- ko foreach: players -->
          <li data-bind="text: $data.minecraftName"></li>
        <!-- /ko -->
     </ul>
    </div>
  </div>
</div>