<div class="alert alert-error" data-bind="visible: notFound">
  <p>This game has been deleted by the host</p>
  <a href="/">Back</a>
</div>
<div id="lobby" data-bind="if: loaded">
  <div class="clearfix" >
    <h2 class="pull-left">Game Lobby - <span data-bind="text: type"></span></h2>
    <a href="/" class="btn pull-right">Back</a>
    <button class="btn btn-primary pull-right" data-bind="visible: $root.currentUser() && !isPlaying(), click: join">Join this game</button>
    <button class="btn pull-right" data-bind="visible: isPlaying() && !isHost(), click: leave">Leave this game</button>
    <button class="btn btn-danger pull-right" data-bind="visible: isHost, click: deleteGame">Delete this game</button>
    <i class="loader-small pull-right" data-bind="visible: saveLoading"></i>
  </div>
  <ul class="lobby-info">
    <li>
      <i class="mcicon-clock"></i> <span data-bind="text: countdown"></span>
    </li>
    <li>
      <i class="mcicon-sun"></i> <span data-bind="text: fullTime"></span>
    </li>
    <li data-bind="visible: isPlaying">
      <i class="mcicon-diamond"></i> You are <span data-bind="text: isHost() ? 'hosting' : 'playing'"></span>
    </li>
  </ul>
  <div class="description" data-bind="text: description, visible: description">
    Rules:<br />
    No hacking<br />
    No griefing<br />
    No teamkilling<br />
  </div>
  <div class="lobby-chat">
    <ul class="messages">
      <li class="subtle" data-bind="visible: !isPlaying()">Join this game to see chat</li>
    </ul>
    <div class="players-container">
      <div class="players-stats"><span data-bind="text: playerCount"></span> / <span data-bind="text: maxPlayers"></span></div>
      <ul class="players">
        <li class="host"><span data-bind="text: hostName"></span> (host)</li>
        <!-- ko foreach: players -->
          <li data-bind="text: $data.minecraftName"></li>
        <!-- /ko -->
     </ul>
    </div>
  </div>
</div>
&nbsp;