<div id="user-sidebar" data-bind="with: userSidebarState">
  <h2>Welcome, <span data-bind="text: $root.currentUser().username"></h2>
  <!-- <a href="#">my account</a>&nbsp;&nbsp;--><a href="#" data-bind="click: logout">logout</a>
  <!-- <div data-bind="foreach: games"><span data-bind="text: type"></span></div> -->
  <div class="games">
    <h3 class="games-header">
      Your Games <span class="badge badge-important" data-bind="visible: games().length, text: games().length"></span>
    </h3>
    <div class="empty" data-bind="visible: !games().length">You haven't joined any games</div>
    <ul class="games-list" data-bind="foreach: games">
      <li data-bind="click: navigate">
        <div class="game-info">
          <div class="game-name" data-bind="text: type"></div>
          <div class="host">hosted by <span data-bind="text: hostName"></span></div>
          <div class="countdown" data-bind="text: countdown"></div>
        </div>
        <div class="spacer"></div>
        <div class="time">
          <span data-bind="text: players ? players().length + 1 : 1"></span> / <span data-bind="text: maxPlayers"></span><br />
          <span data-bind="text: formattedTime"></span>
        </div>
      </li>
    </ul>
  </div>
</div>